
@{
    ViewData["Title"] = "CookieOku";
}

<h1>CookieOku</h1>

<p>Username : @TempData["user"]</p>
<p>password : @TempData["password"]</p>
<hr />
<a asp-action="CookieSil" asp-controller="Home">Cookie Sil </a>

